<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pingIpv6</key>
	<string>on</string>
	<key>pingIpv4</key>
	<string>on</string>
	<key>pingTimeout</key>
	<string>30</string>
	<key>pingInterval</key>
	<string>1</string>
	<key>resourceType</key>
	<string>ANY</string>
	<key>iPv4</key>
	<string>on</string>
	<key>iPv6</key>
	<string>on</string>
	<key>dnsPort</key>
	<string>53</string>
	<key>dnsSource</key>
	<string>8.8.8.8</string>
	<key>dnsTimeout</key>
	<string>5</string>
	<key>whoIsArin</key>
	<string>off</string>
	<key>whoIsApnic</key>
	<string>off</string>
	<key>whoIsNac</key>
	<string>off</string>
	<key>whoIsAfriNic</key>
	<string>off</string>
	<key>whoIsInterNic</key>
	<string>off</string>
	<key>whoIsIana</key>
	<string>on</string>
	<key>whoIsKrnic</key>
	<string>off</string>
	<key>whoIsUsNonMilFedGov</key>
	<string>off</string>
	<key>whoIsLacNic</key>
	<string>off</string>
	<key>whoIsRadb</key>
	<string>off</string>
	<key>whoIsRipe</key>
	<string>off</string>
	<key>whoIsPeeringDb</key>
	<string>off</string>
	<key>whoIsCustomNic</key>
	<string>off</string>
	<key>whoIsSource</key>
	<string></string>
	<key>whoIsPort</key>
	<string></string>
</dict>
</plist>
